{% extends "base-xo.html" %}

{% load compress %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}— {% trans 'Password Reset' %}{% endblock %}

{% block head %}
  <link rel="canonical" href="https://www.hookcoffee.com.sg/reset/password_reset/" />
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'assets/custom/scss/index.scss' %}" />
  {% endcompress %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6">
      <div class="form-body">
        <div class="form-group">
          <h4 class="hc-text-noshadow">{% trans 'Password reset' %}</h4>
        </div>

        <div class="form-group">
          <p>{% trans 'Forgotten your password? Enter your email address below.' %}</p>
        </div>

        <form action="" method="post">{% csrf_token %}
          <div class="form-group">
            {% trans 'Email address' as email_addr %}
            {% render_field form.email class+="form-control" placeholder=email_addr %}
          </div>

          <div class="form-group">
            {{ form.email.errors }}
          </div>

          <div class="form-group">
            <input class="btn btn-primary btn-hc btn-hc-sm" type="submit" value="{% trans 'Reset my password' %}" />
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
