{% extends "base-xo.html" %}

{% load compress %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}— {% trans 'Password Reset Confirm' %}{% endblock %}

{% block head %}
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'assets/custom/scss/index.scss' %}" />
  {% endcompress %}
{% endblock %}

{% block content%}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6">
      <div class="form-body">
        {% if validlink %}
          <div class="form-group">
            <h4 class="hc-text-noshadow">{% trans 'Enter new password' %}</h4>
          </div>

          <div class="form-group">
            <p>{% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}</p>
          </div>

          <form action="" method="post">{% csrf_token %}
            <div class="form-group">
              {% trans 'New password' as new_pwd %}
              {# <label for="id_new_password1">{{ new_pwd }}:</label> #}
              {% render_field form.new_password1 class+="form-control" placeholder=new_pwd %}
              {{ form.new_password1.errors }}
            </div>

            <div class="form-group">
              {% trans 'Confirm password' as conf_pwd %}
              {# <label for="id_new_password2">{{ conf_pwd }}:</label> #}
              {% render_field form.new_password2 class+="form-control" placeholder=conf_pwd %}
            </div>

            <div class="form-group">
              {{ form.new_password2.errors }}
              <input class="btn btn-primary btn-hc btn-hc-sm" type="submit" value="{% trans 'Change my password' %}" />
            </div>
          </form>
        {% else %}
          <div class="form-group">
            <h4 class="hc-text-noshadow">{% trans 'Password reset unsuccessful' %}</h4>
          </div>

          <div class="form-group">
            <p>{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
