{% extends "base-xo.html" %}

{% load compress %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}— {% trans 'Password Reset Done' %}{% endblock %}

{% block head %}
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'assets/custom/scss/index.scss' %}" />
  {% endcompress %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6">
      <div class="form-body">
        <div class="form-group">
          <h4 class="hc-text-noshadow">{% trans 'Password reset successful' %}</h4>
        </div>
        
        <div class="form-group">
          <p>{% trans "Please check your email. We've sent you a confirmation link for resetting you password." %}</p>
        </div>
        
        <div class="form-group">
          <a class="btn btn-primary btn-hc btn-hc-sm" href="{% url 'index' %}">
            {% trans 'Go back' %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
