{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}


  <section id="subscription-form"
    {% if not show_subscription_form %}
      hidden
    {% endif %}
  >

    <li>
      {% if alacarte %}
      <p class="s-h2-bold js-reg-step-1__title">{% trans 'Your Coffee' %}</p>
      {% else %}
      <p class="s-h2-bold js-reg-step-1__title">{% trans 'Your Subscription' %}</p>
      {% endif %}

      <div class="form-body">

        <div id="subs-details-form" class="form-container box form-hc-spacier">
          {% if not alacarte %}
          <div class="form-group">
            {% comment %}
              <label>{% trans 'I have a voucher code...' %}</label>

              <form id="submit-voucher" method="POST" action="{% url 'voucher' %}">
                {% csrf_token %}
                <div class="form-hc-inline">
                  <input id="voucher-input-0"
                    class="form-control voucher-input"
                    name="voucher-name"
                    placeholder="Enter Voucher Code"
                    value="{{ request.session.chosen_voucher }}" type="text">
                  <input type="hidden" name="coffee-id" value="{{ coffee.id }}" />
                  <button id="js-voucher-btn-0" class="btn btn-primary-white btn-hc-xs js-voucher-btn" type="submit">
                    {% trans 'Apply' %}
                  </button>
                  <button id="js-voucher-def-btn"
                    class="btn btn-secondary-inv btn-hc-xs" type="button">
                    {% trans "I don't have a code" %}
                  </button>
                </div>
              </form>
            {% endcomment %}

            <span id="js-voucher-msg-0" class="help-block js-voucher-msg"></span>
          </div>
          {% endif %}


          <div class="form-group form-group-slider test_css">
              <div class="col-xs-12">
                <p>Tell us how often you’d like us to deliver your coffee </p>
                  <br>
                <p class='custom_h1'>EVERY:</p>

                <div data-toggle="buttons" class="col-xs-12">
                  <div class="row delivery_days">
                      <div class="col-xs-4">
                        <label id="weekly" data-value="7" class="btn col-xs-offset-1 col-sm-offset-4">
                            <input type="radio" class="hide">
                            <p class='custom_h2'>7</p>
                        </label>

                        <p> days</p>
                      </div>

                      <div class="col-xs-4">
                          <label id="fortnight" data-value="14" class="btn col-xs-offset-1 col-sm-offset-4 active">
                              <input type="radio" class="hide">
                              <p class='custom_h2'>14</p>
                          </label>

                          <p> days</p>
                      </div>

                      <div class="col-xs-4">
                          <label id="monthly" data-value="28" class="btn col-xs-offset-1 col-sm-offset-4">
                              <input type="radio" class="hide">
                              <p class='custom_h2'>28</p>
                          </label>

                          <p> days</p>
                      </div>
                  </div>

                    <br>
                    <p>To help you estimate better, one cup of coffee a day works out to be<br>
                        about 1 bag every 2 weeks</p>
                    <br>

                    <p>Don’t worry! You are not locked into any frequency, you can change it <br>
                      later on or order emergency bags on your account page.</p>
                    <br>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-xs-offset-0">
                          <label class="btn btn-default btn-hc-sm opt-diff col-xs-12 another_frequency" data-value=false>
                          <input type="radio" class="hide"/>
                            <p>Choose another frequency </p>
                          </label>
                        </div>
                    </div>

                    <div class="row frequency hide">
                        <p class='custom_h1'>EVERY:</p>
                    </div>

                    <div class="row frequency hide">
                        <div class="input-group col-sm-4 col-xs-12 col-xs-offset-0 col-sm-offset-4">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
                              <span class="glyphicon glyphicon-minus"></span>
                            </button>
                          </span>
                          <input type="text" name="quant[1]" class="form-control input-number" value="25" min="4" max="40"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                              <span class="glyphicon glyphicon-plus"></span>
                            </button>
                          </span>
                        </div>
                    </div>

                    <div class="row frequency hide">
                      <p class='custom_h1'>DAYS</p>
                    </div>

                  </div>
                  {% if not coffee.is_discovery_pack %}

                      <div class="col-xs-12" style="padding-top:20px;">
                        <div class="btn-group" data-toggle="buttons">
                          <label id="same" class="btn btn-default btn-hc-sm opt-diff" data-value=false>
                            <input type="radio" /> {% trans 'Same' %}
                          </label>
                          <label id="different" class="btn btn-default btn-hc-sm opt-diff selected active" data-value=true title="We will send you a random&#013;selection of coffees. However &#013;occasional we might send you the &#013;same thing, so do check back to &#013;change your coffee selection!">>
                            <input type="radio" /> {% trans 'Surprise me' %}
                          </label>
                        </div>
                      </div>
                  {% endif %}
                </div>
            </div>

          <div class="form-footer">
            <button id="confirm-subs" class="btn btn-secondary btn-long btn-hc btn-hc-sm">
              {% trans 'Next' %}
            </button>
          </div>

        </div>
      </div>
    </li>



  <section id="address-form" hidden>
  {% comment ******************************************************************************** %}
  User Addresses
  {% endcomment %}
  <div id="reg-page__user-addresses">

    <div class="panel-group"
    id="user-addresses"
    role="tablist"
    aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-header">
        <p class="s-h2-bold">{% trans 'Shipping Address' %}</p>

        <a id="user-addresses__add-btn" class="view-toggle s-h1" role="button"
        data-toggle="collapse"
        data-parent="#user-addresses"
        href="#user-addresses__add"
        aria-expanded="true"
        aria-controls="collapseOne">
        {% trans 'ADD A NEW ADDRESS' %}
      </a>
    </div>

    <div class="panel-row view-toggle">
      <ul class="address-list js-address-list"></ul>
      <div class="panel-row-footer">
        <form id="form-add-subscription" method="POST" action="{% url 'add-subscription' %}">
          <input type="hidden" name="coffeeID" value="{{ coffee.id }}" />
          <button type="submit" id="confirm-address" class="btn btn-primary btn-hc btn-hc-sm">
            {% trans 'Confirm and Pay now?' %}
          </button>
        </form>
      </div>
    </div>

    <div id="user-addresses__add"
    class="panel-collapse collapse"
    role="tabpanel">

    {% with form=new_address_form %}
    <form class="js-update-address" method="POST" action="{% url 'create_address' %}">
      {% csrf_token %}
      <div class="panel-body">
        <p class="s-h1-bold">{% trans 'Add address' %}</p>

        <div class="form-group form-group--name">
          {{ form.name.label_tag }}
          {% render_field form.name class+="form-control" %}
          <span class="help-block"></span>
        </div>

        <div class="form-group form-group--recipient_name">
          <label for="{{ form.recipient_name.id_for_label }}">{% trans 'Full name' %}</label>
          {% render_field form.recipient_name class+="form-control" %}
          <span class="help-block"></span>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-group--line1">
              {{ form.line1.label_tag }}
              {% render_field form.line1 class+="form-control" %}
              <span class="help-block"></span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group form-group--line2">
              {{ form.line2.label_tag }}
              {% render_field form.line2 class+="form-control" %}
              <span class="help-block"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-group--postcode">
              {{ form.postcode.label_tag }}
              {% render_field form.postcode class+="form-control" %}
              <span class="help-block"></span>
            </div>
          </div>
        </div>

        <div class="panel-row-footer flex-spaced-between">
          <a class="s-h1-bold" role="button" id="acct-addr-add-cancel">
            {% trans 'Cancel' %}
          </a>

          <button type="submit" class="btn btn-primary">
            {% trans 'Add Address' %}
          </button>
        </div>
      </div>
    </form>
    {% endwith %}

  </div>
</div>
</div>

</div>
{% comment %}
User Addresses
{% endcomment %}
</section>

{% comment %}
Authentication
{% endcomment %}
<li>
  <p class="s-h2-bold">{% trans 'Authentication' %}</p>

  <div class="form-body">
    <div id="subs-auth-form" class="form-container box hidden">
      <form method="POST" action="">
        {% csrf_token %}

        {% if request.session.accesstoken %}
        <div id="fg_one-email" class="form-group">
          <label for="id_one-email">{% trans 'Facebook account' %}</label>
          {% render_field reg_form.email class+="form-control" readonly=readonly placeholder=reg_form.email.label %}
          {% comment %} {{ reg_form.email.errors }} {% endcomment %}
          <span class="help-block"></span>
          <input type="hidden" name="one-password1" value="FACEBOOKLOGIN" />
          <input type="hidden" name="one-password2" value="FACEBOOKLOGIN" />
        </div>
        {% else %}
        <div id="fg_one-email" class="form-group">
          <label for="id_one-email">{% trans 'Email' %}</label>
          {% render_field reg_form.email class+="form-control" readonly=readonly placeholder=reg_form.email.label %}
          {% comment %} {{ reg_form.email.errors }} {% endcomment %}
          <span class="help-block"></span>
        </div>

        <div id="fg_one-password1" class="form-group">
          <label for="id_one-password1">{% trans 'Password' %}</label>
          {% render_field reg_form.password1 class+="form-control" %}
          {% comment %}
          {% render_field reg_form.password1 class+="form-control" placeholder=reg_form.password1.label %}
          {% endcomment %}
          {% comment %} {{ reg_form.password1.errors }} {% endcomment %}
          <span class="help-block"></span>
        </div>

        <div id="fg_one-password2" class="form-group">
          <label for="id_one-password2">{% trans 'Confirm Password' %}</label>
          {% render_field reg_form.password2 class+="form-control" %}
          {% comment %}
          {% render_field reg_form.password2 class+="form-control" placeholder=reg_form.password2.label %}
          {% endcomment %}
          {% comment %} {{ reg_form.password2.errors }} {% endcomment %}
          <span class="help-block"></span>
        </div>
        {% endif %}

        {% url 'shop-gift-set' as next_url %}

        <div class="form-group">
          <em>{% trans 'Already registered? Log in' %} <a href="{% url 'auth_login' %}?next={% firstof next_url '/' %}">{% trans 'here' %}</a></em>
        </div>

        <div class="form-footer">
          <button id="confirm-acct" class="btn btn-secondary btn-long btn-hc btn-hc-sm">
            {% trans 'Next' %}
          </button>
        </div>
      </form>
    </div>
  </div>
</li>
{% comment %}
Authentication
{% endcomment %}

{% comment %}
Shipping details
{% endcomment %}
<li>
  <p class="s-h2-bold">{% trans 'Shipping Details' %}</p>

  <div class="form-body">
    <div id="subs-ship-form" class="form-container box hidden">
      <form method="POST" action="">
        {% csrf_token %}
        {% for field in cus_form.visible_fields %}
        <div id="fg_two-{{ field.name }}" class="form-group">
          <label for="id_two-{{ field.name }}">{{ field.label }}</label>
          {% render_field field class+="form-control" %}
          {% comment %}
          {% render_field field class+="form-control" placeholder=field.label %}
          {% endcomment %}
          {% comment %} {{ field.errors }} {% endcomment %}
          <span class="help-block"></span>
        </div>
        {% endfor %}

        <div class="form-footer">
          <button id="confirm-ship" data-credits="false"
          class="btn btn-secondary btn-long btn-hc btn-hc-sm">
          {% trans 'Next' %}
        </button>
      </div>
    </form>

  </div>
</div>
</li>
{% comment %}
Shipping details
{% endcomment %}

{% comment %}
Billing details
{% endcomment %}
<li>
  <p class="s-h2-bold">
    {% trans 'Billing Details' %}
    <img height="30"
    class="pull-right" src="{% static 'images/powered_by_stripe.png' %}"
    alt="Stripe" />
  </p>

  <div class="form-body">
    <div id="subs-bill-form" class="form-container box hidden">
      <form id="payment-form" method="POST" action="">
        {% csrf_token %}

        <div class="form-group has-error">
          <span class="help-block payment-errors"></span>
        </div>

        <div class="form-group">
          <label for="id_one-username">{% trans 'Card Number' %}</label>
          <input type="text" size="20" data-stripe="number" class="form-control" value=""/>
        </div>

        <div class="other-card-info">
          <div class="form-group">
            <label for="card__cvc">{% trans 'CVC' %}</label>
            <input id="card__cvc"
            type="text"
            size="4"
            data-stripe="cvc"
            class="form-control"
            value=""/>
          </div>

          <div class="form-group">
            <label for="card__exp">{% trans 'Expiration (MM/YYYY)' %}</label>
            <div class="form-inline">
              <input class="form-control form-expmo"
              type="text"
              size="2"
              data-stripe="exp-month"
              value=""
              placeholder="{% trans 'MM' %}" />
              <b> / </b>
              <input class="form-control form-expyr"
              type="text"
              size="4"
              data-stripe="exp-year"
              value=""
              placeholder="{% trans "YYYY" %}" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <span class="loading-text hidden">
            {% trans "Verifying... Don't close your browser..." %}
          </span>
        </div>

        <div class="form-footer">
          <input id="voucher" type="hidden" name="voucher" value=""/>
          <button id="submit-subs" type="submit" data-credits="false"
          class="btn btn-secondary btn-long btn-hc btn-hc-sm subs-btn">
          {% trans 'Subscribe' %}
        </button>
      </div>
    </form>
  </div>
</div>
</li>
{% comment %}
Billing details
{% endcomment %}
</section>
