.coffee-filter{
  border: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  li, div {
    display: inline-block;
    position: relative;
    margin-top: 20px;
  }

  a {
    opacity: 0.5;
    padding: 0;
    margin: 0 13px;
    position: relative;
    border: none;
    display: block;

    &:active, &:hover, &:focus {
      opacity: 1;
    }
  }

  img {
    max-width:90px;
    max-height:90px;
  }

}
