$color-arctic:          #B2DBD5;

$color-charcoal:        #36384C;
$color-forest:          #1E434C;
$color-forest-dark:     #04202C;
$color-cream:           #FEF8ED;
$color-faded-rose:      #E38B75;

$color-faded-navy:      #444C5C;
$color-punch:           #CE5A57;
$color-ocean-breeze:    #78A5A3;
$color-onyx:            #1B4B5A;
$color-firework:        #F55449;
$color-oceanic:         #1B4B5A;
$color-taupe:           #8E7970;
$color-metal:           #6C5F5B;
$color-fresh:           #649974;
$color-robin-egg:       #A9D5CE;

$color-linen:           #EAE2D6;
$color-putty:           #E6CCB5;
$color-latte:           #DDBC95;

$color-honeysuckie:     #FCC875;
$color-peppercorn:      #755248;
$color-warm:            #DAA62A;
$color-goldenafternoon: #C29545;

$color-fresh:           #849974;
$color-sage:            #A1BE95;

$dropdown-link-hover-bg: #DAA62A;

$font-family-1:         "Archer-Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-2:         "Amatic-Bold", cursive;
$font-family-3:         "Archer-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-4:         "Archer-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
