html {
  background: url("/static/images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-choice {
  margin: 2px 20px;
  padding: 10px 30px;
  display: inline-block;
  font: bold 24px "Arboria-Book", sans-serif;
  color: #fff;
  text-decoration: none;
  background-color: #d9a52a;
  border-radius: 10px;    
}

#line-choice {
  text-align: center;
  position: relative;
  margin-top: 50vh;
}
