.filter-btn-0 {
  background-color: $color-charcoal;
}

.filter-btn-1 {
  background-color: $color-robin-egg;
}

.filter-btn-2 {
  background-color: $color-warm;
}

.filter-btn-3 {
  background-color: $color-faded-rose;
}

.filter-btn-4 {
  background-color: $color-taupe;
}

.filter-btn-5 {
  background-color: $color-forest;
}