#shotpods__top-banner.top-banner.section {
  background: url('/static/images/banners/shotpods-1920x.jpg') no-repeat;
  background-position: 50% 90%;
  background-size: cover;
}

// New SCSS

.section.nespresso-page.info-bar {
  a { margin: $base-padding 0 0 0;}
}

.purchase-box {
    -webkit-user-select: none;
    cursor: default;
}

.centered {
    text-align: center;
}
