#voucher__top-banner.top-banner.section {
  background: url('/static/images/banners/gift-credits-1920x.jpg') no-repeat center center;
  background-position: 50% 50%;
  background-size: cover;
}

#buyGift.modal-hc {
  .alert.alert-info {
    margin: $base-padding 0 $base-padding/2;
  }

  .modal-footer {
    text-align: center;
  }

  p.s-h2-bold {
    margin: $base-padding*2 0 $base-padding/2;
  }
}

