.content-box {
  /* some fixes in padding */
  padding-left: 15px;
  @media (min-width: $screen-sm) {
    padding-left: 0px;
  }
  & .panel, .tab-content .tab-pane .panel {
    margin-top: 0px;
  }

  /* page grids */
  &.dashboard {
    @include make-xs-column(12);
    @include make-md-column(6);
  }

  &.rewards {
    @include make-xs-column(12);
    @include make-md-column(10);
    @include make-md-column-offset(1);
  }

  &.gift-credits {
    @include make-xs-column(12);
    @include make-md-column(10);
    @include make-md-column-offset(1);
  }

  &.preferences {
    @include make-xs-column(12);
    @include make-md-column(10);
    @include make-md-column-offset(1);
  }

  &.account {
    @include make-xs-column(12);
    @include make-md-column(10);
    @include make-md-column-offset(1);
  }

  &.history {
    @include make-xs-column(12);
    @include make-md-column(10);
    @include make-md-column-offset(1);
  }

  /* content-box nav-tabs */
  ul.nav.nav-tabs {
    @extend .page-title-margin;
    text-align: left !important;
    text-transform: capitalize;

    li {
      height: $base-padding * 2;

      a:first-child { margin-left: 0 !important; }
      a {
        color: $color-dark-20;
        font-weight: bold;
        opacity: 1;
      }
      &.active a, a:hover { color: $color-new-text; }
    }
  }
}
