.bgcolor-charcoal {
  background-color: $color-charcoal;
}

.bgcolor-robin-egg {
  background-color: $color-robin-egg;
}

.bgcolor-warm {
  background-color: $color-warm;
}

.bgcolor-faded-rose {
  background-color: $color-faded-rose;
}

.bgcolor-taupe {
  background-color: $color-taupe;
}

.bgcolor-forest {
  background-color: $color-forest;
}

.bgcolor-arctic {
  background-color: $color-arctic;
}

.bgcolor-honeysuckie {
  background-color: $color-honeysuckie;
}

.bgcolor-peppercorn {
  background-color: $color-peppercorn;
}

.bgcolor-fresh {
  background-color: $color-fresh;
}

.bgcolor-cream {
  background-color: $color-cream;
}